@{
    ViewBag.Title = "Contato";
}
<h3>@ViewBag.Title</h3>

<address>
    Caio Cesar Alves Borges<br />
    <br />
    <abbr title="Contato"></abbr>
    Telefones: 99299-9812/3403-3891
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:caioborges89@yahoo.com.br">caioborges89@yahoo.com.br</a><br />    
</address>